<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Categorias
        </ion-title>
    </ion-toolbar>

    <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioCategoria($event)">
        <ion-segment-button mode="md" value="opcion" *ngFor="let c of categorias" [value]="c">
            <ion-label text-capitalize>{{c}}</ion-label>
        </ion-segment-button>

    </ion-segment>






</ion-header>

<ion-content color="dark">

    <app-noticias [noticias]="noticias"></app-noticias>




</ion-content>